body {
  width: 100vw;
  height: 100vh;
}

/* .working-list {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
} */
